#{extends 'dash.html' /}

Bienvenido ${user}

#{list items:testUsuario, as:'test'}
    <article>
        <table>
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>resultado</th>
                <th>Nombre</th>
                <th>Apellido</th>
            </tr>   
            <tr>
                <td>${test.fecha}</td>
                <td>${test.hora}</td>
                <td>${test.resultado}</td>
                <td>${test.usuario.nombre}</td>
                <td>${test.usuario.apellido}</td>
            </tr> 
        </table>
        
    </article>
#{/list}

