#{extends 'main.html' /}
#{set title:'listadoPreguntas' /}

<h2>Listado Preguntas</h2>

#{ifErrors}
    <p class="error">
        Responda todas las preguntas!!!
    </p>
#{/ifErrors}

#{if pregunta}
    <section>
      #{form @Preguntas.respuestaPreguntas()}
          #{list items:pregunta, as:'lista'}
              <article id="preguntas">
                 <p><label for="respuestas[${lista.id}]">${lista.pregunta}</label></p>
                 <input type="radio" name="respuestas[${lista.id}]" value="true"> Si </input>
                 <input type="radio" name="respuestas[${lista.id}]" value="false"> No </input>   
              </article>
          #{/list}
          <input type="submit" class="button" value="Enviar" name="enviar">
      #{/form}
    </section>
#{/if}

#{else}
    <section>
        <p> No se encontraron preguntas</p>
    </section>
#{/else}
