#{extends 'main.html' /}
#{set title:'respuestaPregunta.html' /}

#{if resultado}

<section>
    <h2> Resultado del Test</h2>
	
	<article>
		<p>resultado: ${resultado}</p>
        
        #{list items:links, as:'link'}
            <article>
                 <p><label >${link.descripcion}</label></p>
                 <iframe type="text/html" width="300" height="180" src="https://www.youtube.com/embed/${link.link}" frameborder="0"></iframe>
            </article>
          #{/list}
	</article>  

 </section>
#{/if}

#{else}
    <article>
        <p> No se obtuvo el resultado</p>
    </article>
#{/else}
